<header>
  <h1>Feed the Cheeks</h1>
  <div class="search-container">
    <input
      type="text"
      placeholder="Search menu"
      [(ngModel)]="searchTerm"
    >
  </div>
  <nav>
    <a href="#">Home</a>
    <a href="#">Menu</a>
    <a href="#">About</a>

    <button class="cart-button" (click)="openCart()">
      Cart ({{ cart.getTotalQuantity() }})
    </button>
  </nav>

</header>

<main>
  <section class="hero">
    <div class="hero-content">
      <h2>Fresh Cookies. Big Cheeks.</h2>
      <p>Freshly baked cookies made for every craving.</p>
    </div>
  </section>

  @if (cookieProducts.length > 0) {
    <section>
      <h2>Our Cookies</h2>

      <div class="product-grid">
        @for (product of cookieProducts; track product.id) {
          <app-product-card [product]="product"></app-product-card>
        }
      </div>
    </section>
  }
  @if (drinkProducts.length > 0) {
  <section>
    <h2>Drinks</h2>

    <div class="product-grid">
      @for (product of drinkProducts; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </section>
  }
  @if (milkProducts.length > 0 ){
  <section>
    <h2>Milk</h2>

    <div class="product-grid">
      @for (product of milkProducts; track product.id) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </section>
  }
</main>

@if (cartOpen) {
  <div class="cart-overlay" (click)="closeCart()"></div>

  <aside class="cart-drawer">
    <div class="cart-header">
      <h2>Your Cart</h2>
      <button class="close-button" (click)="closeCart()">×</button>
    </div>

    @if (cart.items.length === 0) {
      <p>Your cart is empty.</p>
    } @else {
      @for (item of cart.items; track item.product.id) {
        <div class="cart-item">
          <img
            [src]="item.product.imageUrl"
            [alt]="item.product.name"
          >

          <div class="cart-item-info">
            <h3>{{ item.product.name }}</h3>

            <p>
              {{ item.product.price | currency:'USD' }}
            </p>

            <div class="quantity-controls">
              <button (click)="cart.decreaseQuantity(item)">−</button>

              <span>{{ item.quantity }}</span>

              <button (click)="cart.increaseQuantity(item)">+</button>
            </div>

            <button
              class="remove-button"
              (click)="cart.removeItem(item)"
            >
              Remove
            </button>
          </div>
        </div>
      }

      <div class="cart-summary">
        <h3>
          Subtotal:
          {{ cart.getSubtotal() | currency:'USD' }}
        </h3>

        <button class="checkout-button">
          Checkout
        </button>
      </div>
    }
  </aside>
}

<footer>
  <p>© 2022 Feed the Cheeks</p>
</footer>
